@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: implement themes after initial setup */
:root {
  --background: #fafcff;
  --foreground: #000000;
  --secondary: #64748b;
  --alternative: #2c1f36;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c1f36;
    --secondary: #e5e7eb;
    --foreground: #ededed;
    --alternative: #fafcff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
